<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, length=device-">
  <title>Document</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body style="background-image: url(https://img.freepik.com/free-vector/watercolor-background_87374-69.jpg?size=626&ext=jpg); background-size: cover;background-repeat: no-repeat;background-position: centre; position: relative;">
  <div class="login-wrap">
      <div class="login-html">
          
          

          {% if history != None %}
          <div class="container">
            <h2 style="color:white">History</h2>
            <ul class="responsive-table">
              
              {% for a in range(b) %}
              
              
              
              <li class="table-row" style="color:white">
                <div class="col col-1" data-label="Sentence">{{ history[a][4] }}</div>
              </li> 
              

              
              {% endfor %}
            </ul>
          </div>
          {% endif %}

      </div>
  </div>
</body>
</html>