<!Doctype Html>
<Html>   
<Head>    
<Title>   
webpage
</Title>
<link rel="stylesheet" href="../static/style.css">
</Head>
<body style="background-image: url(https://img.freepik.com/free-vector/watercolor-background_87374-69.jpg?size=626&ext=jpg); background-size: cover;background-repeat: no-repeat;background-position: centre; position: relative;">
    <div class="login-wrap">
        <form action="#" method="POST">
            <div class="login-html">
                <br><br><br><br><br><br>
                <p style="color:white"><input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign in</label></p>
                <div class="login-form">
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input name="Name" id="user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input name= "Password" id="pass" type="password" class="input" data-type="password">
                        </div>
                        <br>
                        <div class="group">
                            <input type="submit" class="button" value="Sign in">
                        </div>
                </div>
            </div>
        </form>
    </div>
</body>
</Html>


