<!Doctype Html>
<Html>   
<Head>    
<Title>   
webpage
</Title>
<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/style.css">
</Head>
<body style="background-image: url(https://img.freepik.com/free-vector/watercolor-background_87374-69.jpg?size=626&ext=jpg); background-size: cover;background-repeat: no-repeat;background-position: centre; position: relative;">
    <div class="login-wrap">
        <div class="login-html">
            <br><br><br>
            <br><br>
            <p style="color:white"><input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">PLAGIARISM CHECKER</label></p>
            <div class="login-form">
                <div class="sign-up-htm">
                    <br>
                    <div class="group">
                        <a href="/login" "text-decoration: none;"><input type="submit" class="button" value="Sign In"></a>
                    </div>
                    <br>
                    <div class="group">
                        <a href="/register" "text-decoration: none;"><input type="submit" class="button" value="Sign Up"></a>
                    </div>
                    <br>
                    <div class="group">
                        <a href="https://ndl.iitkgp.ac.in/" "text-decoration: none;"><input type="submit" class="button" value="National Digital Library"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</Html>